* {
  padding: 0;
  margin: 0;
}
.test-btn {
  width: 100px;
  height: 30px;
  background: #566178;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.test-img {
  width: 180px;
  height: 178px;
  background: url(../images/cpu-i3@2x.png);
}
